
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
    
}

.body {

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
  }

.choices {

    padding-top: 40px;
    display: grid;
    grid-template-rows: 65px;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-gap: 1em;
    list-style-type:none
}

.header {

    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    box-shadow: 0 0 2px 5px black;
    
    
}

.search-bar {

    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.search-bar input {

    flex: 1;
    height: 25px;
    padding: 8px 10px 8px 30px; 
    border: 1px solid lightgray;
    border-radius: 40px;
    outline: none;
    margin-left: 10px;
}


.main-images {

    height: 310.958px;
    width: 327.333px;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

.bottom-links {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 15px;
    display: grid;
    padding-inline: unset;
    list-style: none;
    gap: 12px;
    font-size: 14px;
    color: rgb(64, 62, 62)
}

.Links-section{

    list-style-type: none
}


.lineBreak {
    
    background-color: rgb(215, 215, 215);
    height: 1px;
}

.terms {
    padding-bottom: 80px;
}

.footer {

    border-top: solid 1px rgba(205, 197, 197, 0.539);
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.footeroptions {

    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explore, .wishlists, .login {

    color: #6B7280; 
    font-size: 10px;
}
.option1, .option2, .option3 {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 44px;
    width: 60px;
}